main_license_baked.ts

# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude preflight stylesheet copied from tailwindcss package
preflight.css

# Exclude most test vault workspace files
Test\ Vault/.obsidian/app.json
Test\ Vault/.obsidian/appearance.json
Test\ Vault/.obsidian/core-plugins-migration.json
Test\ Vault/.obsidian/core-plugins.json
Test\ Vault/.obsidian/graph.json
Test\ Vault/.obsidian/workspace.json

# Exclude files that are copied into or generated in test vault
Test\ Vault/.obsidian/plugins/unofficial-tailwindcss-plugin
Test\ Vault/.obsidian/snippets/tailwind.css

